.listCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.reference {
    padding-left: 10px;
    font-weight: 600;
}

.description {
    margin-top: 5px;
}